@import url(../../../node_modules/normalize.css/normalize.css);

html {
    font-size: 10px;
}
.body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.6rem;
    min-height: 100vh;
}
