@import url(../../../node_modules/normalize.css/normalize.css);

html {
    font-size: 10px;
}
.body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.6rem;
    min-height: 100vh;
}
.show {
    display: block;
}
.hide {
    display: none;
}

.car {
    width: 100px;
    height: 30px;
    mask: url('../img/coupe-car-svgrepo-com.svg') no-repeat;
    -webkit-mask: url('../img/coupe-car-svgrepo-com.svg') no-repeat;
    mask-size: contain;
    -webkit-mask-size: contain;
}

.car.winner{
    width: 50px;
    height: 15px;
}

.cars__item {
    margin-top: 20px;
}

.cars__row {
    display: flex;
    align-items: center;
}

.cars__track{
    border-bottom: 3px dashed #000;
}

.car__path {
    flex: 1 0 auto;
    filter: drop-shadow(1px 1px 4px #ffffff);
    -webkit-filter: drop-shadow(1px 1px 4px #ffffff);
    position: relative;
}
.flag {
    width: 100px;
    height: 50px;
    background: url('../img/flag.svg') no-repeat;
    background-size: contain;
    position: absolute;
    right: 50px;
    bottom: 0;
}

.win-message{
    position: fixed;
    z-index: 100;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 500px;
    height: 50px;
    font-size: 40px;
    text-align: center;
    color: #fff;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
}